extends ./layouts/index

block contenido
    main(class="container mt-5")
        div(class="row")
            div(class="col-md-5")
                img(src="img/nosotros.jpg", alt="nosotros",class="img-fluid")
            div(class="col-md-7")
                h1 #{pagina}
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ac justo vitae leo laoreet varius at eu felis. Sed suscipit ultrices nisi in maximus. Praesent facilisis, quam vel luctus feugiat, leo sem eleifend tortor, vel convallis urna sapien vitae nunc. Curabitur dignissim ligula nec nisl vulputate lobortis. Maecenas ut interdum libero. In mollis lacus a orci vehicula consectetur.

                p Sed vel vulputate lacus. Morbi nulla urna, feugiat ut elementum a, egestas eget velit. Nullam mi lacus, volutpat vitae sollicitudin pretium, malesuada et erat. Donec id eros et odio aliquam facilisis id nec sapien. Donec ut sagittis quam. Pellentesque malesuada tempor consectetur. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean mattis hendrerit lacus eget sagittis. Pellentesque at mi id lectus consectetur fermentum.

                p Praesent at mattis felis. Suspendisse euismod volutpat aliquet. Aliquam faucibus venenatis purus ut blandit. Fusce quis dui vel lectus eleifend lobortis. Morbi lectus nulla, vestibulum quis porta ut, scelerisque id purus. Nullam convallis erat lectus, vel commodo sapien sodales ut. Quisque auctor sed mauris varius congue.
    div(class="listado-iconos")    
        div(class="container mt-5 py-5 text-center")
            div(class="row")
                div(class="col-md-4")
                    img(src="img/icono_seguridad.svg", alt="icono seguridad",class="img-fluid mb-4")
                    h2(class="mb-4") Seguridad
                    p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquam unde soluta ipsa, ab quae sit provident.ab quae sit provident
                div(class="col-md-4")
                    img(src="img/icono_destinos.svg", alt="icono seguridad",class="img-fluid mb-4")
                    h2(class="mb-4") Mejores destinos
                    p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquam unde soluta ipsa, ab quae sit provident.ab quae sit provident
                div(class="col-md-4")
                    img(src="img/icono_precios.svg", alt="icono seguridad",class="img-fluid mb-4")
                    h2(class="mb-4") Mejores precios
                    p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquam unde soluta ipsa, ab quae sit provident.ab quae sit provident

